{% extends 'base.html' %}
{% block content %}
    <h1> Movie TOP 250</h1>
    <div class="row">
        {% for movie in movies %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    {% load staticfiles %}
{#                    <img src="{% static"{{ movie.id }}.jpg"%}">#}
                    <img src="/static/{{ movie.id }}.jpg">
                    <div class="card-body">
                        {#                        <p class="card-text">{{ movie.pic }}</p>#}
                        <h5 class="card-title">片名: {{ movie.name }}</h5>
                        <p class="card-text">排名: {{ movie.id }} </p>
                        <p class="card-text">时长: {{ movie.length }} min</p>
                        <p class="card-text">评分: {{ movie.grade }}</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

